@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise 03");

    var albumtitle = "";
    var artistid = "0";
    var releaseyear = "0";
    var releaselabel = "";

    var db = Database.Open("CHINOOK");

    var artistquery = "SELECT ArtistId, Name FROM Artists ORDER BY ArtistId";
    var artistlist = db.Query(artistquery);

    Validation.Add("AlbumTitle",
        Validator.Required("Album Title is required!"),
        Validator.StringLength(160, 0, "Album Title limit is 160 characters!"));

    Validation.Add("ArtistID",
        Validator.Range(1,artistlist.Count(),"Please Select an ArtistID"));

    Validation.Add("ReleaseYear",
        Validator.Required("Release Year is required!"),
        Validator.Range(1950,DateTime.Today.Year,"Release Year must be between 1950 and "+DateTime.Today.Year));

    Validation.Add("ReleaseLabel",
        Validator.StringLength(50, 0, "Release Label limit is 160 characters!"));

}

@section banner {
    <h1>@Page.Title</h1>
}

@if (IsPost)
{
    albumtitle = Request.Form["AlbumTitle"];
    artistid = Request.Form["ArtistList"];
    releaseyear = Request.Form["ReleaseYear"];
    releaselabel = Request.Form["ReleaseLabel"];
    var thebutton = Request.Form["FormButton"];

    if (thebutton.Equals("Clear"))
    {
        <p style="color:orangered">You pressed the clear button</p>
        albumtitle = "";
        artistid = "0";
        releaseyear = "0";
        releaselabel = "";
    }
    else
    {
        if (Validation.IsValid())
        {
            try
            {
                <ul>
                    <li>@albumtitle</li>
                    <li>@artistid</li>
                    <li>@releaseyear</li>
                    <li>@releaselabel</li>
                </ul>
            }
            catch(Exception ex)
            {
                <div class="col-12 text-center">
                    <p style="color:orangered; font-size:large">Processing Error: @ex.Message</p>
                </div>
            }
        }
    }
}
else
{

}

@Html.ValidationSummary()

<form id="theForm" action="" method="post">
    <div class="row row-cols-2">
        <div class="col text-right">
            <label id="lblAlbumTitle" for="AlbumTitle">Album Title</label>
        </div>
        <div class="col text-left">
            <input type="text" name="AlbumTitle" value="@albumtitle" />
        </div><br />
        <div class="col text-right">
            <label id="lblArtistList" for="ArtistList">Artist</label>
        </div>
        <div class="col text-left">
            <select name="ArtistList">
                <option value="0">Select . . . </option>
                @foreach (var artist in artistlist)
                {
                    <option>@artist.ArtistId &nbsp; @artist.Name</option>
                }
            </select>
        </div><br />
        <div class="col text-right">
            <label id="lblReleaseYear" for="ReleaseYear">Release Year</label>
        </div>
        <div class="col text-left">
            <input type="number" name="ReleaseYear" value="@releaseyear" />
        </div>
        <div class="col text-right">
            <label id="idReleaseLabel" for="ReleaseLabel">Release Label</label>
        </div>
        <div class="col text-left">
            <input type="text" name="ReleaseLabel" value="@releaselabel" />
        </div>



    </div>
    <div class="row">
        <div class="col-12 text-center">
            <input type="submit" id="FormButton" name="FormButton" class="btn btn-primary" value="Add" />
            <input type="submit" id="FormButton" name="FormButton" class="btn btn-light" value="Clear" />
        </div>
    </div>
</form>